ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: #353434;
  }

li {
    float:left;
}

li a {
    display: block;
    color: rgb(228, 228, 228);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #565656;
}
